.btn_more_reader{
    position:absolute;
    right: 10px;
    z-index: 9;
    top: 10px;
    padding: 0px 10px!important;
    text-align: center
    
}
.readProcess{
    position: absolute;
    bottom: 5px;
    z-index: 9;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    color: rgb(153, 153, 153);
    text-align: center;
}
.readerMask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    z-index: 10;
    left: 0;
    .loadingTxt{
        color: #40a9ff;
        width: 200px;
        text-align: center;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 45%;
    }
}
@media (max-width: 768px){
    .btn_more_reader{
        border-color: transparent!important;
        box-shadow: none;
        &:hover{
            border-color: #40a9ff!important
        }
    }
}